<div class="col-md-3">
    <div class="special-deal leftbar">
        <h4 class="title">
            Special
            <strong>
                Deals
            </strong>
        </h4>
        <% if(products) for (i = 0; i < products.length; i++) {
            if (i == 3) break;
        %>
        <div class="special-item">
            <div class="product-image">
                <a href="/details-<%= products[i]._id %>">
                    <img src="<%= products[i].path%>" alt="">
                </a>
            </div>
            <div class="product-info">
                <p>
                    <%= products[i].name %>
                </p>
                <h5 class="price">
                    $<%= products[i].price %>.00
                </h5>
            </div>
        </div>
        <% } %>
    </div>
    <div class="clearfix">
    </div>
    <div class="product-tag leftbar">
        <h3 class="title">
            Products
            <strong>
                Tags
            </strong>
        </h3>
        <ul>
            <li>
                <a href="#">
                    Lincoln us
                </a>
            </li>
            <li>
                <a href="#">
                    SDress for Girl
                </a>
            </li>
            <li>
                <a href="#">
                    Corner
                </a>
            </li>
            <li>
                <a href="#">
                    Window
                </a>
            </li>
            <li>
                <a href="#">
                    PG
                </a>
            </li>
            <li>
                <a href="#">
                    Oscar
                </a>
            </li>
            <li>
                <a href="#">
                    Bath room
                </a>
            </li>
            <li>
                <a href="#">
                    PSD
                </a>
            </li>
        </ul>
    </div>
    <div class="clearfix">
    </div>
    <div class="get-newsletter leftbar">
        <h3 class="title">
            Get
            <strong>
                newsletter
            </strong>
        </h3>
        <p>
            Casio G Shock Digital Dial Black.
        </p>
        <form>
            <input class="email" type="text" name="" placeholder="Your Email...">
            <input class="submit" type="submit" value="Submit">
        </form>
    </div>
    <div class="clearfix">
    </div>
    <div class="fbl-box leftbar">
        <h3 class="title">
            Facebook
        </h3>
        <span class="likebutton">
                  <a href="#">
                    <img src="/images/fblike.png" alt="">
                  </a>
                </span>
        <p>
            12k people like Flat Shop.
        </p>
        <ul>
            <li>
                <a href="#">
                </a>
            </li>
            <li>
                <a href="#">
                </a>
            </li>
            <li>
                <a href="#">
                </a>
            </li>
            <li>
                <a href="#">
                </a>
            </li>
            <li>
                <a href="#">
                </a>
            </li>
            <li>
                <a href="#">
                </a>
            </li>
            <li>
                <a href="#">
                </a>
            </li>
            <li>
                <a href="#">
                </a>
            </li>
        </ul>
        <div class="fbplug">
            <a href="#">
                    <span>
                      <img src="/images/fbicon.png" alt="">
                    </span>
                Facebook social plugin
            </a>
        </div>
    </div>
    <div class="clearfix">
    </div>
</div>
