<% include layout/header.ejs   %>


<div class="clearfix">
</div>
<div class="page-index">
    <div class="container">
        <p>
            Home - CheckOut
        </p>
    </div>
</div>
</div>
<div class="clearfix">
</div>
<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <% include layout/right.ejs%>
            <div class="col-md-9">
                <div class="checkout-page">
                    <ol class="checkout-steps">
                        <li class="steps active">
                            <a href="/login" class="step-title">
                                01. Login
                            </a>
                            <div class="step-description">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="new-customer">
                                            <h5>
                                                New Customer
                                            </h5>
                                            <label>
                              <span class="input-radio">
                                <input type="radio" name="user">
                              </span>
                                                <span class="text">
                                I wish to subscribe to the Herbal Store newsletter.
                              </span>
                                            </label>
                                            <label>
                              <span class="input-radio">
                                <input type="radio" name="user">
                              </span>
                                                <span class="text">
                                My delivery and billing addresses are the same.
                              </span>
                                            </label>
                                            <p class="requir">
                                                By creating an account you will be able to shop faste be up to date on
                                                an order's status, and keep track of the orders you have previously
                                                made.
                                            </p>
                                            <button>
                                                Continue
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="run-customer">
                                            <h5>
                                                Rerunning Customer
                                            </h5>
                                            <form action="/login" method="post">
                                                <div class="form-row">
                                                    <label class="lebel-abs">
                                                        Email
                                                        <strong class="red">
                                                            *
                                                        </strong>
                                                    </label>
                                                    <input type="email" class="input namefild" name="email">
                                                </div>
                                                <div class="form-row">
                                                    <label class="lebel-abs">
                                                        Password
                                                        <strong class="red">
                                                            *
                                                        </strong>
                                                    </label>
                                                    <input type="password" class="input namefild" name="password">
                                                </div>
                                                <p class="forgoten">
                                                    <a href="#">
                                                        Forgoten your password?
                                                    </a>
                                                </p>
                                                <button type="submit" class="btn btn-danger">Login Now</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="steps">
                            <a href="/register" class="step-title">
                                02. Register
                            </a>
                        </li><li class="steps">
                            <a href="#" class="step-title">
                                03. billing information
                            </a>
                        </li>
                        <li class="steps">
                            <a href="#" class="step-title">
                                04. Shipping information
                            </a>
                        </li>
                        <li class="steps">
                            <a href="#" class="step-title">
                                05. shipping method
                            </a>
                        </li>
                        <li class="steps">
                            <a href="#" class="step-title">
                                06. payment information
                            </a>
                        </li>
                        <li class="steps">
                            <a href="#" class="step-title">
                                07. oder review
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
<% include layout/footer.ejs %>
